<li class="comment-<%= comment.id %>">
    <%= comment.body %><strong> - <%= comment.created_at.to_formatted_s(:long) %> - </strong>
    <%= link_to 'Mark as spam', comment_path(comment), method: :delete, :remote => true, :class => 'delete_comment' %>
</li>